LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=""


OLLAMA_URL=
OLLAMA_MODEL=""
OLLAMA_MODEL_MAX_TOKENS=4096
OLLAMA_MODEL_MAX_TIMEOUT=120

RECURSIVE_LIMIT=200